@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fuller Crafts</h1>
    <img src="https://i.ebayimg.com/images/g/V2UAAOSwOzxgbqWT/s-l500.jpg" alt="Sketch of Kari">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
