@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
<button onclick="theMove()">Click on ME!</button>
</p>

<div id="theContainer">
<div id="theAnimation"></div>
</div>


<div class="text-center">
    <h1 id="karis_site" class="display-4 pink-text" onmouseover="firstColor()" onmouseout="secondColor()">Welcome to My World of Confusion!</h1>
    <p>This is one of my favorite music videos! <a href="https://youtu.be/YUtHjOvPKT0">Check it out!</a>.</p>
</div>
